:root{
    --background-color1:#144272;
    --background-color2:#1F6E8C;
    --background-color3:#ECF9FF;
    --background-color4:white;
}
html{
    box-sizing: border-box;
}
body{
font-family: 'Aboreto', cursive;
font-family: 'Roboto Slab', serif;  
height: 100%;

margin: 0;
display: grid;
grid-template-columns: 300px 1fr;
grid-template-rows: 150px 1fr;
grid-template-areas:
    'sidebar header'
    'sidebar main';
}
.top-nav-bar{
    background-color: var(--background-color4);
    grid-area:header;
    align-items: center;
    
}
.top-part{
    margin-top: 2px;
    display: flex;
    justify-content: space-between;

}
.search{
    display: flex;
    padding :10px 10px 20px 50px;
    align-items: center;
}
.fa-magnifying-glass{
    padding-right:10px;
    cursor: pointer;
    color:  var(--background-color2);
    
}
#myform{
   border: 1px solid var(--background-color2);
   border-radius: 50px;
   height: 30px;
   width: 600px;
   align-items: center;
   padding-left: 8px;
   padding-top: 5px;
   background-color:var(--background-color3) ;
   
}

.search-input{
    width: 580px;
    font-size: large;
    border: 0px;
    background-color: transparent;
    line-height: 18px;
}
.search-input:focus{
    border: 0px;
}


.profile-image{
    width:50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    padding:2px 10px 0px 10px;
    transition: .2s ease-in-out 0s;
}
.profile-image:hover{
    width:50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
   
    transform: scale(1.25);
}
.profile-icons{
    display: flex;
   margin-right:70px;
   align-items: center;
   cursor: pointer;
   
}

.fa-bell{
    padding-right:10px;
    transition: .2s ease-in-out 0s;
}
.fa-bell:hover{
   transform: scale(1.25);
   cursor: pointer;
}
.name{
    font-size: large;
    font-weight: bolder;
    padding-left: 10px;
    transition: .2s ease-in-out 0s;
}
.name:hover{
    font-size: large;
    font-weight: bolder;
    padding-left: 10px;
    transform: scale(1.25);
}
.bottom-part{
    display:flex ;
    align-items: center;
    
}
.profile-image2{
    width:55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 60px;
    transition: .2s ease-in-out 0s;
}
.profile-image2:hover{
    transform: scale(1.25);
    cursor: pointer;
    margin-bottom: 10px;
   
}
.buttons{
    padding: 12px 20px 5px 900px;
}
.my-button{
    padding: 8px 15px 8px 15px ;
    border-radius:30px;
    margin-left: 20px;
    background-color: var(--background-color2);
    color: white;
    border: 1px solid var(--background-color2);
    cursor: pointer;
    transition: .2s ease-in-out 0s;
    
}
.my-button:hover{
    background-color: var(--background-color2);
    color:  var(--background-color2);
    border: 1px solid (--background-color3); 
    color: white;
    transform: scale(1.25);
}
.wording{
   padding-left:20px; 
}
.first-line{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px !important;
}
.second-line{
    font-size: 25px;
    font-weight: bold;
    margin-top: 0px !important;
}
/* side Nav-Bar*/
.side-nav-bar{
    background-color: var(--background-color2);
    grid-area:sidebar;
    padding-left: 30px;
    

}
.sidebar-title{
    display: flex;
  align-items: center;
    color:var(--background-color4);
    padding-left: 30px;
    font-size: 30px;


}
.sidebar-title .material-icons{
    font-size: 48px;
    padding-right: 6px;

}
ul .side-bar-item {
    margin-top: 10px;
}

.side-bar-item .side-bar-link{
    text-decoration: none;
    color:var(--background-color4);

    
}
a .fa-solid{
    margin-top: 20px;
    margin-bottom:20px;
   
}
ul li {
    text-decoration: none;
    list-style-type: none; 
    
}
.side-bar-item .side-bar-link::after{
    text-decoration: none;
    list-style-type: none;
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--background-color3);
    display: block;
    margin: auto;
    transition: 0.5s;
   

    
}
.side-bar-item .side-bar-link:hover::after{
    width: 70%;
    transform: scale(1.07);

}
.fa-solid{
    padding-right: 10px;
    
}
.side-bar-item1{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 20px;
}


.side-bar-item2{
    margin-top: 50px;
    font-size: 20px;
}




.content{
    background-color:var(--background-color3);
    padding: 1rem 2rem 1rem 2rem;
    grid-area:main;

    display: grid;
    grid-template-columns: 2fr 0.5fr;
    grid-template-rows:1fr ;
    gap:1rem 2rem;
    grid-template-areas:
    'projects  announcements'
    'projects  trending';
    
}
.card{
    
    border-radius: 5px;
    box-shadow: 0 0 10px 0px  var(--background-color2);
    background-image: linear-gradient(left, var(--background-color2), var(--background-color2) , transparent 2%, transparent 100%);
    background-image: -webkit-linear-gradient(left, var(--background-color2), var(--background-color2) 2%, transparent 2%, transparent 100%) 

    
}
.card.project-card{
   padding-left: 20px;
}
.trending-card{
    border-radius: 5px;
    box-shadow: 0 0 10px 0px  var(--background-color2); 
    padding-top: 10px;
    padding-bottom: 10px;
}
.announcements{
    grid-area:announcements;
}
.announcement-card{
    border-radius: 5px;
    box-shadow: 0 0 10px 0px  var(--background-color2); 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    
}
.trending{
    grid-area:trending;
    
}
.projects{
    grid-area:projects;
}
.project-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    gap:2rem;
    grid-template-areas:
    'project-card1  project-card2'
    'project-card1  project-card4'
    'project-card5  project-card6'
    'project-card7  project-card8';
 
}
project-card:nth-child(1){
    grid-area:project-card1;
}
.actions{
    float: right;
    padding-right: 20px;
    
}
.material-icons-outlined{
    padding: 0px 10px 0px 10px;
}
.trend-profile-picture{
    width:50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    padding:2px 10px 0px 10px;
    
}
.trend{
    display: flex;
    align-items: center;
}
#username{
    margin-bottom: 0px;
}
#name-card-text{
    margin-top: 0px;
    padding-left: 0px;
    font-weight: bolder;
    transition: .2s ease-in-out 0s;
    cursor: pointer;
}
#name-card-text:hover{
    transform: scale(1.25);
    cursor: pointer;

}
.trend-profile-picture{
    padding-left: 0px;
    padding-right: 0px;
}
.account{
    padding-left: 10px;
}
.myname{
    margin-top: 480px;
    color:var(--background-color4);
text-align: center;
}

